.button {
   transition: color var(--transition), background-color var(--transition);
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: 34px;
   padding-right: 34px;
   border-radius: 10px;
   outline: none;
   cursor: inherit;

   @include font(600, 14px, 1.21, null);
   display: flex;
   align-items: center;
   text-align: center;

   color: var(--secondary-text-color);
   background: var(--btn-color);

   &:hover {
      background-color: var(--btn-hover-color);
   }

   &:focus {
      background-color: var(--btn-hover-color);
      color: var(--primary-text-color);
   }

   &:focus::after {
      border-color: var(--primary-text-color);
   }

   &:disabled {
      background-color: var(--btn-disabled-color);
   }
}

.btn-arrow {
   transition: color var(--transition), background-color var(--transition);
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: 34px;
   padding-right: 34px;
   border-radius: 10px;
   outline: none;
   cursor: inherit;

   @include font(600, 14px, 1.21, null);
   display: flex;
   align-items: center;
   text-align: center;

   color: var(--secondary-text-color);
   background: var(--btn-color);

   @include desktop {
   }

   &::after {
      content: "";
      width: 8px;
      height: 8px;
      border-bottom: 2px solid var(--secondary-text-color);
      border-right: 2px solid var(--secondary-text-color);
      transform: rotate(-45deg);
      margin-left: 12px;
   }

   &:hover {
      background-color: var(--btn-hover-color);
   }

   &:focus {
      background-color: var(--btn-hover-color);
      color: var(--primary-text-color);
   }

   &:focus::after {
      border-color: var(--primary-text-color);
   }

   &:disabled {
      background-color: var(--btn-disabled-color);
   }
}

.btn-transparent-arrow {
   transition: color var(--transition), border-color var(--transition);
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 10px;
   border: 2px solid var(--btn-color);
   outline: none;
   cursor: inherit;

   @include font(600, 14px, 1.21, null);
   display: flex;
   align-items: center;
   justify-content: center;

   color: var(--secondary-text-color);
   background: transparent;

   @include desktop {}

   &::after {
      content: "";
      width: 8px;
      height: 8px;
      border-bottom: 2px solid var(--secondary-text-color);
      border-right: 2px solid var(--secondary-text-color);
      transform: rotate(-45deg);
      margin-left: 12px;
   }

   &:hover {
      border: 2px solid var(--btn-hover-color);
   }

   &:focus {
      border: 2px solid var(--btn-hover-color);
      color: var(--primary-text-color);
   }

   &:focus::after {
      border-color: var(--primary-text-color);
   }

   &:disabled {
      border: 2px solid var(--btn-disabled-color);
   }
}

.transparent-btn {
   transition: color var(--transition), border-color var(--transition);
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 11px;
   padding-right: 11px;
   border: 2px solid var(--btn-color);
   border-radius: 8px;
   outline: none;
   cursor: inherit;

   @include font(600, 8px, 1.25, null);

   color: var(--secondary-text-color);
   background: transparent;

   @include desktop {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 32px;
      padding-right: 32px;

      font-size: 14px;
      line-height: 1.29;
   }

   &:hover {
      border: 2px solid var(--btn-hover-color);
   }

   &:focus {
      border: 2px solid var(--btn-hover-color);
      color: var(--primary-text-color);
   }

   &:disabled {
      border: 2px solid var(--btn-disabled-color);
   }
}


.link {
   transition: color var(--transition);
   outline: none;

   font-weight: 600;
   font-size: 8px;
   line-height: 1.25;
   text-decoration-line: underline;
   cursor: inherit;

   color: var(--btn-color);

   @include desktop {
      font-size: 14px;
      line-height: 1.29;
   }

   &:hover {
      color: var(--btn-hover-color);
   }

   &:focus {
      color: var(--primary-text-color);
   }

   &:disabled {
      color: var(--btn-disabled-color);
   }
}
