.advantages {
   background-color: var(--primary-background-color);
   padding-top: 66px;
   padding-bottom: 64px;

   // &__title {
   // }
   // &__list {
   // }
   // &__item {
   // }
   // &__value {
   // }
   // &__descr {
   // }
}
