.gallery {
   position: relative;
   background-color: var(--primary-text-color);
   height: 106px;

   &__img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      border-radius: 18px;
      top: -36px;
      left: 50%;
      // transform: translateX(-50%);
      opacity: 1;
      // overflow: hidden;

      @media screen and (max-width: 767px) {
         width: 280px;
         height: 130px;
      }

      @include tablet {
         width: 704px;
         height: 327px;
         top: -144%;
      }

      @include desktop {
         width: 1013px;
         height: 422px;
         top: -98%;
      }
   }
}

.active {
   transform: translateX(-50%);
   // animation: slider 2000ms linear 0ms infinite direction alternate none;
}

// .active:hover {
//    animation: slider 2s linear 0ms infinite direction alternate none;
// }

.hide-left {
   transform: translateX(-155%);
   // animation: slider 2000ms linear 2000ms infinite direction alternate none;
}

.hide-right {
   transform: translateX(55%);
   // animation: slider 2000ms linear 4000ms infinite direction alternate none;
}

// @keyframes slider {
//    0% {
//       border-radius: 0%;
//    }
//    100% {
//       border-radius: 50%;
//    }
// }
