.header {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   padding-top: 20px;
   @extend %margin-auto;

   @include flex(flex, space-between, baseline);

   @media screen and (max-width: 767px) {
      padding-top: 12px;
      max-width: 480px;
   }

   @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-top: 20px;
      align-items: center;
      width: 768px;
   }

   @include desktop {
      padding-top: 8px;
      width: 1200px;
      align-items: center;
   }

   &__site-logo {
      width: 40px;
      height: 37px;

      @include tablet {
         width: 48px;
         height: 44px;
      }

      @include desktop {
         width: 60px;
         height: 65px;
      }
   }

   &__burger-open {
      border: none;
      outline: none;
      @media screen and (min-width: 768px) and (max-width: 1199px) {
         margin-left: auto;
      }

      @include desktop {
         display: none;
      }
   }

   &__burger-open .icon {
      fill: currentColor;
   }

   &__mobile-menu {
      z-index: 1000;
      @media screen and (max-width: 1199px) {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: var(--primary-background-color);
      }

      @media screen and (max-width: 767px) {
         padding-top: 100px;
         padding-right: 22px;
         padding-left: 22px;
      }

      @media screen and (min-width: 768px) and (max-width: 1199px) {
         padding-top: 140px;
         padding-left: 180px;
         padding-right: 180px;
      }
   }

   &__mobile-menu-logo {
      position: absolute;

      @media screen and (max-width: 767px) {
         top: 12px;
         left: 31px;
      }

      @include tablet {
         width: 48px;
         height: 44px;
         top: 20px;
         left: 32px;
      }

      @include desktop {
         display: none;
      }
   }

   &__navigate {
      @media screen and (max-width: 767px) {
         margin-bottom: 111px;
         margin-left: auto;
         margin-right: auto;
      }
   }

   &__burger-close {
      position: absolute;
      top: 22px;
      right: 26px;
      color: var(--white-color);
      outline: none;

      @include tablet {
         top: 38px;
         right: 38px;
      }

      @include desktop {
         display: none;
      }
   }

   &__burger-close .icon {
      fill: currentColor;
   }

   &__buy-now-btn-mobile {
      @media screen and (max-width: 767px) {
         margin-left: auto;
         margin-right: auto;
      }

      @media screen and (min-width: 768px) {
         display: none;
      }
   }

   &__buy-now-btn {
      @media screen and (max-width: 767px) {
         display: none;
      }

      @media screen and (min-width: 768px) and (max-width: 1199px) {
         margin-left: 32px;
      }
   }
}
