.nav-list {
   @include desktop {
      display: flex;
      gap: 27px;
   }

   &__item {
      font-family: "Montserrat";
      font-style: normal;
      @include font(700, 16px, 1.25, null);

      display: flex;
      justify-content: center;
   }

   &__item:not(:last-child) {
      @media screen and (max-width: 767px) {
         margin-bottom: 32px;
      }

      @media screen and (min-width: 768px) and (max-width: 1199px) {
         margin-bottom: 40px;
      }
   }

   &__link {
      color: var(--primary-text-color);
      border: none;
      outline: none;
      cursor: inherit;

      @media screen and (max-width: 767px) {
         font-weight: 700;
         font-size: 32px;
         line-height: 1.22;
         text-align: center;
      }

      @media screen and (min-width: 768px) and (max-width: 1199px) {
         font-size: 48px;
         line-height: 1.23;
      }

      &:hover {
         color: var(--btn-color);
         text-decoration: underline;
      }

      &:focus {
         color: var(--btn-hover-color);
         text-decoration: underline;
      }
   }
}

.accent-link {
   @media screen and (max-width: 1199px) {
      color: var(--secondary-text-color);
   }
}
