.review{
    height: 1070px;

    @media screen and (max-width:767px) {
        background-image: url(../images/bg2-mob.jpg);
    
        @include retina {
            background-image: url(../images/bg2-mob@2x.jpg);
        }
    }
    
    @include tablet {
        padding-bottom: 82px;
        background-image: url(../images/bg2-tab.jpg);
    
        @include retina {
            background-image: url(../images/bg2-tab@2x.jpg);
        }
    }
    
    @include desktop {
        padding-bottom: 57px;
    
        background-image: url(../images/bg2-1920.jpg);
    
        @include retina {
            background-image: url(../images/bg2-1920@2x.jpg);
        }
    }
}